# macOS
.DS_Store

# Xcode build
build/
DerivedData/

# Xcode user data
*.xcuserdata/
*.xcuserstate

# SwiftPM
.build/
# (اختياري) اتركه مرفوع عشان تثبيت الحزم يكون ثابت:
# Package.resolved
# (اختياري) إذا ما تبي ترفع الحزم محليًا:
# Packages/
